@import url('https://fonts.googleapis.com/css2?family=Jost:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

:root {
    --cor-primaria: rgb(128, 128, 128);
    --cor-secundaria: rgb(50, 50, 50);
    --cor-terciaria: aquamarine;
    --cor-preta: black;
    --cor-branca: white;


    /* --color-background-gradient-start: #f5f7fa;
    --color-background-gradient-end: #aab9d1; */

    --color-background-gradient-start: #a6a9ad;
    --color-background-gradient-end: #475161;

    --fonte-primaria: 'Montserrat', sans-serif;
    --fonte-secundaria: 'Jost', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-branca);
    background-image: linear-gradient(135deg, var(--color-background-gradient-start) 0%, var(--color-background-gradient-end) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.cabecalho {
    padding: 1% 0% 1% 15%;
    background-color: var(--cor-secundaria);
}

.cabecalho__nav {
    display: flex;
    gap: 5rem;
    align-items: center;
}

.nav__link {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--cor-branca);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.apresentacao__about {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-primaria);
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-secundaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo_texto {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 2000;
    font-size: 1.5rem;
}

.apresentacao__links__button {
    display: flex;
    justify-content: center;
    color: white;
    width: 80%;
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    font-weight: 600;
    gap: 16px;
    border: 4px solid var(--cor-terciaria);
}

.apresentacao__imagens {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 8rem;
}

.rodape {
    background-color: var(--cor-secundaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;
}

/* Hovers */

.linkedin__button:hover {
    background-color: #0a66c2;
    color: white;
    border: 4px solid #0a66c2;
}

.github__button:hover {
    background-color: var(--cor-branca);
    color: black;
    border: 4px solid var(--cor-branca);
}

.instagram__button:hover {
    background-color: #d62976;
    border: 4px solid #d62976;
}

@media (max-width: 1000px) {
    .cabecalho {
        padding: 5%;
    }

    .cabecalho__nav {
        justify-content: center;
        gap: 1rem;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__about {
        flex-direction: column;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

}
